#Host *
#    ControlMaster auto
#    ControlPath ~/.ssh/master-%r@%h:%p
AddKeysToAgent yes

### Hosts outside my control

Host aur.archlinux.org
    IdentityFile ~/.ssh/aur
    User aur

Host oracle
    HostName ngfamily.duckdns.org
    IdentityFile ~/.ssh/personal
    User ubuntu

Host oracle2
    HostName drng.duckdns.org
    IdentityFile ~/.ssh/personal
    User ubuntu
    LocalForward 8385 127.0.0.1:8384

Host utarjump
    HostName ssh-mco.utar.edu.my
    IdentityFile ~/.ssh/personal
    User ngoe

### Hosts under my personal control

Host home_pi
    HostName bethsimchatadonai.duckdns.org
    Port 16004
    IdentityFile ~/.ssh/personal
    User ngoonee

Host home_desktop
    HostName bethsimchatadonai.duckdns.org
    Port 25008
    IdentityFile ~/.ssh/personal
    User ngoonee

Host home_legion
    HostName 192.168.25.122
    Port 16484
    IdentityFile ~/.ssh/personal
    User ngoonee

Host office_pi
    HostName 192.168.37.204
    Port 65302
    IdentityFile ~/.ssh/personal
    User alarm
    ProxyCommand ssh -q research_server nc %h %p

### Hosts for work purposes

Host jks_synology_local
    HostName 192.168.38.35
    Port 19129
    IdentityFile ~/.ssh/work
    User noe

Host jks_synology
    HostName jkseng.ddns.net
    Port 19129
    IdentityFile ~/.ssh/work
    User noe

Host jks_debian_local
    HostName 192.168.38.35
    Port 19229
    IdentityFile ~/.ssh/work
    User noe

Host jks_debian
    HostName jkseng.ddns.net
    Port 19229
    IdentityFile ~/.ssh/work
    User noe

Host jks_owncloud
    HostName jkseng.ddns.net
    Port 19329
    IdentityFile ~/.ssh/work
    User jks
    LocalForward 0.0.0.0:19329 127.0.0.1:80

Host jks_mainbackup
    HostName 192.168.78.30
    Port 19429
    IdentityFile ~/.ssh/work
    User noe
    ProxyCommand ssh -q jks_owncloud nc %h %p
    LocalForward 0.0.0.0:19429 127.0.0.1:5003

Host utarinventory
    HostName 192.168.38.206
    Port 22614
    IdentityFile ~/.ssh/work
    User utar
    ProxyCommand ssh -q research_server nc %h %p
    LocalForward 11111 127.0.0.1:80
    LocalForward 8069 127.0.0.1:8069

Host tee_server
    HostName 192.168.30.238
    Port 22
    IdentityFile ~/.ssh/work
    User ngoe
    ProxyCommand ssh -q office_pi nc %h %p

Host research_server
    HostName rsc.utar.edu.my
    Port 22
    IdentityFile ~/.ssh/work
    User ngoe
    ForwardX11 yes
    ForwardX11Trusted yes
    LocalForward 23389 192.168.37.197:3389
    LocalForward 13389 192.168.31.23:3389

Host research_server_root
    HostName rsc.utar.edu.my
    Port 22
    IdentityFile ~/.ssh/personal
    User root

Host caica01
    HostName 127.0.0.1
    Port 24245
    User ngoe
    IdentityFile ~/.ssh/work
    ProxyCommand ssh -q research_server nc %h %p
