#Host *
#    ControlMaster auto
#    ControlPath ~/.ssh/master-%r@%h:%p
AddKeysToAgent yes

### Hosts outside my control

Host aur.archlinux.org
    IdentityFile ~/.ssh/aur
    User aur

### Hosts under my personal control

Host home_laptop
    HostName 192.168.0.101
    Port 16484
    IdentityFile ~/.ssh/personal
    User ngoonee
    ProxyCommand ssh -q home_router -W %h:%p

Host home_router
    HostName bethsimchatadonai.noip.me
    Port 443
    IdentityFile ~/.ssh/personal
    User admin
    ProxyCommand corkscrew 127.0.0.1 3128 %h %p
    LocalForward 25008 192.168.0.1:80

Host home_pi
    Hostname 192.168.0.121
    Port 25008
    IdentityFile ~/.ssh/personal
    User alarm
    ProxyCommand ssh -q home_router -W %h:%p

Host usj2_router
    HostName ngfamily.hopto.org
    Port 25160
    IdentityFile ~/.ssh/personal
    User admin
    LocalForward 25160 192.168.1.1:80

Host usj2_backup
    HostName ngfamily.hopto.org
    Port 25060
    IdentityFile ~/.ssh/personal
    User root
    LocalForward 25060 192.168.2.1:80

Host office_pi
    Hostname 192.168.37.204
    Port 65302
    IdentityFile ~/.ssh/personal
    User alarm

### Hosts for work purposes

Host jks_synology_local
    Hostname 192.168.38.35
    Port 19129
    IdentityFile ~/.ssh/work
    User noe

Host jks_synology
    Hostname jkseng.ddns.net
    Port 19129
    IdentityFile ~/.ssh/work
    User noe

Host jks_debian_local
    Hostname 192.168.38.35
    Port 19229
    IdentityFile ~/.ssh/work
    User noe

Host jks_debian
    Hostname jkseng.ddns.net
    Port 19229
    IdentityFile ~/.ssh/work
    User noe

Host jks_owncloud
    Hostname jkseng.ddns.net
    Port 19329
    IdentityFile ~/.ssh/work
    User jks
    ProxyCommand ssh -q home_router -W %h:%p
    LocalForward 0.0.0.0:19329 127.0.0.1:80

Host jks_mainbackup
    Hostname 192.168.78.30
    Port 19429
    IdentityFile ~/.ssh/work
    User noe
    ProxyCommand ssh -q jks_owncloud nc %h %p
    LocalForward 0.0.0.0:19429 127.0.0.1:5003

Host utarinventory
    Hostname 192.168.38.206
    Port 22614
    IdentityFile ~/.ssh/work
    User utar
    LocalForward 11111 127.0.0.1:80
    LocalForward 8069 127.0.0.1:8069

Host tee_server
    Hostname 192.168.30.238
    Port 22
    IdentityFile ~/.ssh/work
    User ngoe

Host research_server
    Hostname 192.168.103.101
    Port 22
    IdentityFile ~/.ssh/work
    User ngoe
    LocalForward 3389 192.168.37.202:3389
