[Unit]
Description=fava beancount web-app

[Service]
ExecStart=/usr/bin/fava -H 0.0.0.0 %h/Accounts/Accounts.beancount

[Install]
WantedBy=default.target
