[user]
	email = ngoonee@gmail.com
	name = Ng Oon-Ee
[github]
	user = ngoonee
	token = 424fab5fe242828e266f59b9006118b3
[color]
	ui = auto
[push]
	default = simple
[alias]
    tree = log --graph --decorate --pretty=oneline --decorate --abbrev-commit
